//
// Theme style
//

// Initialize
@import 'init';

// Components
@import './core/components/components';
@import 'components/components';

// Layout
@import './core/layout/base/layout';
@import 'layout/layout';

.inputMy {
  border: 0.2px solid rgb(110, 110, 110);
  outline: none;
  height: 35px;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding-left: 10px;
  width: 100%s;
}

.multiselect-dropdown {
  position: relative;
  width: 300px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the selected options container */
.selected-options {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

/* Style for each selected option */
.selected-option {
  display: flex;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 4px 8px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.selected-option button {
  margin-left: 8px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #fff;
}

/* Style for the dropdown */
.dropdown {
  //   position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-header {
  padding: 8px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.dropdown-options {
  list-style: none;
  padding: 0;
  margin: 0;
}
.selected-option.active {
  background-color: #28a745;
}
.option.active {
  background-color: #28a745;
  color: #fff;
}

.option {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.option:hover {
  background-color: #f2f2f2;
}

.option.selected {
  background-color: #007bff;
  color: #fff;
}

.btnIncre {
  display: flex !important;
  gap: 10px !important;

  button {
    background: #d8d8d8;
    border: none;
    outline: none;
  }
}

.btnClose {
  display: flex !important;
  justify-content: flex-end !important;
  .exitBtn {
    border: none !important;
    background: #8b8b8b !important;
    color: #fff !important;
    font-weight: 800 !important;
    border-radius: 10px !important;
    height: 45px !important;
    // background-color: #28a745 !important;
  }
}

.products {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.wrapProdOrder {
  padding: 13px;
  border-radius: 14px;
  background: #d1d1d1;
  .wrpaBtn {
    display: flex;
    gap: 10px;
    .increment {
      background: rgb(128, 80, 80);
      border: none;
      outline: none;
      font-size: 24px;
      font-weight: 700;
      width: 35px;
      height: 35px;
      color: #fff;
      border-radius: 10px;
    }

    .decrement {
      background: rgb(44, 126, 51);
      border: none;
      outline: none;
      font-size: 18px;
      font-weight: 700;
      width: 35px;
      height: 35px;
      border-radius: 10px;
      color: #fff;
    }
  }
}
